services:
  api:
    build: .
    depends_on:
      - db 
    ports:
      - '3000:3000'
    env_file: 
      - .env.development
    environment:
      NODE_ENV: production
    command: sh -c "npm run migration:run:prod && npm run start:prod"

  db:
    image: postgres:15-alpine 
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: todo-api-db
    volumes:
      - pgdata-todo:/var/lib/postgresql/data
    ports:
      - '2345:5432'

volumes:
  pgdata-todo:
