services:
  api:
    build: .
    ports:
      - '3000:3000'
    env_file: 
      - .env
    environment:
      NODE_ENV: production
    command: sh -c "npm run migration:run:prod && npm run start:prod"
